@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: #121212;
    color: white;
}

.nav__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.logo {
    display: flex;
}

.nav__links {
    display: flex;
}

.nav__link {
    margin-left: 24px;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all 300ms;
}

.nav__link:hover {
    color: #228CDB;
    border-color: #228CDB;
}

.nav__link--primary {
    margin-left: 24px;
    color: white;
    padding: 8px 24px;
    border-radius: 50px;
    background-color: #228CDB;
    transition: all 300ms;
}

.nav__link--primary:hover {
    background-color: #175d92;
}

.container {
    padding: 24px;
}

.search{
    background-color: #121212;
}

.browse {
    text-align: center;
    color: white;
}

.search__bar {
    margin: 24px 0 24px 0;
    text-align: center;
}

.search__input{
    font-size: 24px;
    width: 50%;
    padding: 8px 16px;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    background-color: #121212;
    position: relative;
    transition: all 300ms;
}

.search__input:focus {
  border-color: #228CDB;
  outline: 0;
}

.search__icon {
    position: absolute;
    color: white;
    transform: translate(-180%, 65%);
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    transition: all 300ms ease;
}

.search__spinner {
  position: absolute;
  color: #228CDB;
  font-size: 20px;
  animation: spin 1500ms infinite linear;
}

@keyframes spin {
  0% {
    transform: translate(-180%, 65%) rotate(0deg);
  } 
  100% {
    transform: translate(-180%, 65%) rotate(360deg);
  }
}

.search__icon:hover {
  color: #228CDB;
}

.search__icon:hover {
    transform: translate(-180%, 65%) scale(1.1);
}

.search__icon:active {
    transform: translate(-180%, 65%) scale(0.9);
}


.results {
    flex: 1;
    color: white;
    background-color: #121212
}

/* MOVIE */

.results__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

#filter {
    display: none;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
}

.movie__img--wrapper {
    overflow: hidden;
    border-radius: 4px;

}

.movie__img {
    width: 100%;
    transition: all 300ms;
    overflow: hidden;
}

.movie:hover .movie__img {
    /* box-shadow: 0 4px 24px rgba(31, 115, 240, 0.69); */
    transform: scale(1.03);
}

.movie__title, .movie__year {
    transition: all 600ms ease;
}

.movie:hover .movie__title, .movie:hover .movie__year {
    color: #228CDB;
}

.movie {
    width: 25%;
    padding: 24px;
}

.movie__title {
    margin: 8px 0;
    font-size: 20px;
}

.skeleton {
  background-color: rgb(41, 41, 41);
}

.movie__skeleton--img {
  height: 373px;
}

.movie__skeleton--title {
  margin: 8px 0;
  height: 19px;
  width: 80%;
}

.movie__skeleton--year {
  margin: 8px 0;
  height: 19px;
  width: 64px;
}


.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.spinner {
    color: white;
    font-size: 60px;
    animation: rotate 600ms infinite linear;
    display: none !important;
}

.loading .spinner {
    display: block !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}