@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: #121212;
    color: white;
}

.nav__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.logo__text {
  letter-spacing: 0.5px;
  transition: all 300ms ease;
}

.logo__text:hover {
  color: #228CDB;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo__img {
  font-size: 24px;
}


.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin-left: 24px;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all 300ms;
}

.nav__link:hover {
    color: #228CDB;
    border-color: #228CDB;
}

.nav__link--primary {
    margin-left: 24px;
    color: white;
    padding: 8px 24px;
    border-radius: 50px;
    background-color: #228CDB;
    transition: all 300ms;
    cursor: not-allowed;
}

.nav__link--primary:hover {
    background-color: #175d92;
}

.btn__menu {
  background-color: transparent;
  font-size: 24px;
  border: none;
  color: #228CDB;
  cursor: pointer;
  display: none;
}

.menu__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 16px;
  padding: 16px;
  z-index: 1000;
  border: 1px solid #228CDB;
  background-color: #121212;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms;
}

.btn__menu--close {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 8px;
  color: white;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  font-size: 32px;
  letter-spacing: 0.5px;
}

.menu__link, .btn__menu--close {
  transition: all 300ms;
}

.menu__link:hover, .btn__menu--close:hover {
  color: #228CDB;
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}


/* Home */

#home {
  background-color: #121212;
  flex: 1;
}

.home__img--wrapper {
  width: 80%;
  object-fit: cover;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 64px;
}

.home__img {
  margin: 0 auto;
  width: 100%;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 90px);
  text-align: center;
  color: white;
}

.home__title--large {
  font-size: 56px;
  color: #228CDB;
  padding: 0 24px;
  letter-spacing: 0.5px;
}

.home__subtitle {
  font-size: 32px;
}

.container {
    padding: 24px;
}

.search{
    background-color: #121212;
}

.browse {
    text-align: center;
    color: white;
    letter-spacing: 0.5px;
    font-size: 32px;
}

.search__bar {
    margin: 24px 0 24px 0;
    text-align: center;
}

.search__input{
    font-size: 24px;
    width: 50%;
    padding: 8px 16px;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    background-color: #121212;
    position: relative;
    transition: all 300ms;
}

.search__input:focus {
  border-color: #228CDB;
  outline: 0;
}

.search__icon {
    position: absolute;
    color: white;
    transform: translate(-180%, 65%);
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    transition: all 300ms ease;
}

.search__spinner {
  position: absolute;
  color: #228CDB;
  font-size: 20px;
  animation: spin 1500ms infinite linear;
}

@keyframes spin {
  0% {
    transform: translate(-180%, 65%) rotate(0deg);
  } 
  100% {
    transform: translate(-180%, 65%) rotate(360deg);
  }
}

.search__icon:hover {
  color: #228CDB;
}

.search__icon:hover {
    transform: translate(-180%, 65%) scale(1.1);
}

.search__icon:active {
    transform: translate(-180%, 65%) scale(0.9);
}

#search__empty {
  flex: 1;
  background-color: #121212
}

.search__img--wrapper {
  max-width: 576px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.search__img {
  width: 100%;
  margin: 0 auto;
}

/* MOVIE */
.results {
    flex: 1;
    color: white;
    background-color: #121212
}

.results__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    letter-spacing: 0.5px;
}

.no-results__header {
  text-align: center;
  padding: 0 24px;
}

.no-results__img--wrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 64px;
}

.no-results__img {
  width: 100%;
}

.results__footer {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.page__btns {
  display: flex;
  align-items: center;
}

.page__btn {
  padding: 8px;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 24px;
}

.page__btn:hover {
  color: #228CDB;
}

.grey__btn {
  padding: 8px;
  font-size: 24px;
  color: #525252;
}

.page__num {
  margin: 0 8px;
}

.choose__page {
  background-color: #121212;
  color: #228CDB;
  border: 1px solid #525252;
  width: 40px;
  font-size: 18px;
  font-weight: 500;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
}

.movie__img--wrapper {
    overflow: hidden;
    border-radius: 4px;
}

.movie__img {
    width: 100%;
    transition: all 300ms;
    overflow: hidden;
}

.movie:hover .movie__img {
    /* box-shadow: 0 4px 24px rgba(31, 115, 240, 0.69); */
    transform: scale(1.03);
}

.movie__title, .movie__year {
    letter-spacing: 0.5px;
    transition: all 600ms ease;
}

.movie:hover .movie__title, .movie:hover .movie__year {
    color: #228CDB;
}

.movie {
    width: 25%;
    padding: 24px;
}

.movie__title {
    margin: 8px 0;
    font-size: 20px;
}

.skeleton {
  background-color: rgb(41, 41, 41);
}

.movie__skeleton--img {
  height: 373px;
}

.movie__skeleton--title {
  margin: 8px 0;
  height: 19px;
  width: 80%;
}

.movie__skeleton--year {
  margin: 8px 0;
  height: 19px;
  width: 64px;
}


.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

/* MOVIE INFO */

#movie__info {
  background-color: #121212;
  flex: 1;
  color: white;
}

.movie__row {
  padding: 0 24px;
}

.movie__selected--top {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  width: 50px;
  transition: all 300ms ease;
}

.movie__selected--top:hover {
  color: #228CDB;
}

.movie__selected {
  display: flex;
}

.movie__selected--figure {
  width: 40%;
}

.movie__selected--img {
  width: 100%;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.2)
}

.movie__selected--desc {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 48px;
  gap: 8px;
  letter-spacing: 0.5px;
}

.movie__selected--subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie__selected--plot {
  line-height: 1.5;
}

.movie__selected--director {
  font-weight: 500;
}

.movie__selected--votes {
  margin-top: 4px;
  font-size: 14px;
}

.imdb-rating {
  color: #228CDB;
  font-size: 24px;
  font-weight: 700;
}

.star {
  font-size: 16px;
  margin-right: 8px;
}

.bubble {
  display: inline-block;
  background-color: #228CDB;
  color: #121212;
  margin-top: 8px;
  font-weight: 500;
  margin-right: 8px;
  border-radius: 50px;
  padding: 4px 16px;
  cursor: pointer;
  transition: all 300ms ease;
}

.bubble:hover {
  color: white;
}

.movie__selected--subheaders {
  margin-top: 8px;
}

.colour-text {
  color: #228CDB;
}


.movie-select__skeleton--img {
  width: 40%;
  height: 650px;
}

.movie-select__skeleton--desc {
  width: 60%;
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.movie-select__skeleton--title {
  height: 24px;
  width: 200px;
}

.movie-select__skeleton--subtitle {
  height: 24px;
  width: 120px;
  margin-bottom: 8px;
}

.movie-select__skeleton--subcontainer {
  display: flex;
  justify-content: space-between;
}

.movie-select__skeleton--small {
  display: inline-block;
  margin-right: 8px;
  height: 24px;
  width: 100px;
}

.movie-select__skeleton--right {
  height: 24px;
  width: 100px;
  margin-bottom: 8px;
}

.movie-select__skeleton--text--small {
  height: 24px;
  width: 180px;
}

.movie-select__skeleton--para {
  height: 300px;
}

.spinner {
    color: white;
    font-size: 60px;
    animation: rotate 600ms infinite linear;
    display: none !important;
}

.loading .spinner {
    display: block !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1024px) {
  .movie {
    width: 33%;
  }

  .movie__selected {
    flex-direction: column;
    align-items: center;
  }

  .movie__selected--figure {
    width: 100%;
  }

  .movie__selected--img {
    margin: 0 auto;
    max-width: 400px;
  }

  .movie__selected--desc {
    margin: 32px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .btn__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }

  .movie {
    width: 33%;
  }

  .search__img--wrapper {
    width: 100%;
  }

  .search__img {
    width: 100%;
  }
}

@media (max-width: 640px) {

  .results__header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search__input {
    width: 75%;
  }

  .search-results {
    margin-bottom: 16px;
  }

  .movie {
    width: 50%;
  }

  .movie__selected--subcontainer {
    flex-direction: column-reverse;
    align-items: start;
    gap: 4px;
  }

  .imdb {
    display: flex;
    align-items: flex-end;
    gap: 32px;
    margin-bottom: 16px;
  }
}

@media (max-width: 480px) {
  .search__input {
    width: 90%;
  }

  .movie {
    width: 100%;
  }

 

  
}